@model Diet.Models.PatientCard

@{
    ViewData["Title"] = "CardOnePat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CardOnePat</h1>

<h4>PatientCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CardOnePat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCard" class="control-label"></label>
                <input asp-for="IdCard" class="form-control" />
                <span asp-validation-for="IdCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPatient" class="control-label"></label>
                <input asp-for="IdPatient" class="form-control" />
                <span asp-validation-for="IdPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label"></label>
                <input asp-for="IdEmployee" class="form-control" />
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyCalories" class="control-label"></label>
                <input asp-for="DailyCalories" class="form-control" />
                <span asp-validation-for="DailyCalories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyProtein" class="control-label"></label>
                <input asp-for="DailyProtein" class="form-control" />
                <span asp-validation-for="DailyProtein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyFats" class="control-label"></label>
                <input asp-for="DailyFats" class="form-control" />
                <span asp-validation-for="DailyFats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyCarbohydrates" class="control-label"></label>
                <input asp-for="DailyCarbohydrates" class="form-control" />
                <span asp-validation-for="DailyCarbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activ" /> @Html.DisplayNameFor(model => model.Activ)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StartDiet" class="control-label"></label>
                <input asp-for="StartDiet" class="form-control" />
                <span asp-validation-for="StartDiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDiet" class="control-label"></label>
                <input asp-for="FinishDiet" class="form-control" />
                <span asp-validation-for="FinishDiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdActivityLevels" class="control-label"></label>
                <input asp-for="IdActivityLevels" class="form-control" />
                <span asp-validation-for="IdActivityLevels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

