

@{
    Layout = "_Layout";
    ViewData["Title"] = "Меню";
}
<div class="container col-xl-10  col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <p class="text-style-grey h-100 " style="font-size: 60px;">Здравствуйте,  ..... </p>
            <p class="text-style-grey">Спасибо, что выбрали наш сервис!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="text-align: center; left: 50%;">
                <button type="button" class="btn btn-style w-100">  <a class="nav-link text-dark" asp-controller="PatientStart" asp-action="CardPatient" asp-route-id=""> Моя карта</a></button>
                <button type="button" class="btn btn-style w-100" style="text-align:center">Трекер питания</button>
            </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-style-grey">
                <div>
                    <p class="h-100" style="font-size: 50px; text-align:center">Вход</p>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Логин</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <button class="w-100 btn btn-lg btn-style" asp-area="Patient" asp-controller="Home" asp-action="Menu" type="submit">Войти</button>
            </form>
        </div>
    </div>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/image/start_pat.jpg" class="d-block mx-lg-auto img-fluid" loading="lazy">
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <h1 class="display-5 fw-bold lh-1 mb-3">Здравствуйте, <br /> апронправпрпорлорпав </h1>
            <p class="lead">Спасибо, что выбрали наш сервис! </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="text-align: center; left: 50%;">
                <button type="button" class="btn btn-style w-100">  <a class="nav-link text-dark" asp-controller="PatientStart" asp-action="CardPatient" asp-route-id=""> Моя карта</a></button>
                <button type="button" class="btn btn-style w-100" style="text-align:center">Трекер питания</button>
            </div>
        </div>
    </div>
