

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="~/css/StyleSheet.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body class="bg-style-green">
    <div>
        @RenderBody()
    </div>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>