@using Diet.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Меню";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>



<div class="container py-4">

    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-white bg-style-grey rounded-3">
                <h2>Change the background</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            </div>
        </div>
    </div>
</div>

<div class="container py-4">

    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-white bg-style-grey rounded-3">
                <h2>Change the background</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            </div>
        </div>
    </div>
</div>

<div class="container py-4">

    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-white bg-style-grey rounded-3">
                <h2>Change the background</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            </div>
        </div>
    </div>
</div>