@model List<Diet.Models.ViewModels.DiaryModel>
@using Diet.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Дневник";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>

@{ if (Model.Count() != 0)
    {
        <form>
            <div class="col-12" style="text-align:center">
                <button class="btn btn-lg btn-style w-50 m-4" asp-route-id="@Model.First().meal.IdMenu" asp-action="Menu" asp-controller="PatientHome" style="color:black;"> Мое меню </button>
            </div>
        </form>


        var date = Model.First().meal.Date;
        for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                date = Model[i].meal.Date;
            }
            if (i != 0 && Model[i].meal.Date == date)
            {
                continue;
            }
            else
            {
                date = Model[i].meal.Date;
            }
            <div class="container py-4">
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="h-100 p-5 text-black-50 bg-style-grey rounded-3">
                            <h2>@DateTime.Parse(Model[i].meal.Date.ToString()).ToString("D")</h2>
                            @{

                                List<Dish> meals = Model.Where(p => p.meal.Date == Model[i].meal.Date).Select(p => p.Dishes).ToList();
                                foreach (var m in meals)
                                {
                                    <strong> @m.Dish1 </strong>

                                    List<Product> products = Model.Where(p => p.meal.Date == Model[i].meal.Date && p.Dishes == m).First().productInDish.ToList();
                                    foreach (var prod in products)
                                    {
                                        <p>@prod.Product1</p>
                                    }

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>


        }
    }
    else
    {
        <div class="col-12" style="height: 400px;text-align:center">
            <strong class="text-style-grey center m-2">У Вас еще нет активных карт! </strong>
        </div>
    }
}


