@model List<Diet.Models.ViewModels.DiaryModel>
@using Diet.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Меню";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>

@{
    foreach (var i in Model)
    {
            <div class="container py-4">
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="h-100 p-5 text-black-50 bg-style-grey rounded-3">



                           @{ 
                            <strong> @i.Dishes.Dish1 </strong>
                               List<Product> products = Model.Where(p => p.Dishes.IdDish == i.Dishes.IdDish).First().productInDish.ToList();
                               foreach (var prod in products)
                               {
                                <p>@prod.Product1</p>
                               }

                            }
                        </div>
                    </div>
                </div>
            </div>

    }
}



