@using Diet.Areas.Admin.Contollers

@{
    Layout = "~/Areas/_Layout.cshtml";
    ViewData["Title"] = "Вход";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Areas/Start/Views/Shared/Header.cshtml")
</div>
